* {
    margin: 0px;
    padding: 0px;

}

body {
    width: 100%;
    height: 100vh;
}

section {
    width: 1340px;
    margin: auto;
    margin-top: 4em;
}

/* header section  */
.header-section {
    color: white;
    position: relative;

}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 632px;
    text-align: center;

}

.header-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.header-text h1 {
    font-size: 4rem;
}

/* 65% off section  */
.off-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    gap: 2em;
}

.info-off {
    color: red;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.off-section h5 {
    color: rgb(157, 8, 8);
    font-size: 24px;
}

.off-section h2 {
    font-size: 45px;
}

/* <!-- welcome section  --> */
.welcome {
    position: relative;
}

.welcome-info {
    color: white;
    position: absolute;
    top: 40%;
    left: 10%;
}

.welcome-info h1 {
    font-size: 49px;
    text-transform: capitalize;
    letter-spacing: 4px;

}

.welcome-info p {
    font-size: 22px;
    color: rgb(224, 214, 214);
}

.btn {
    padding: 8px;
    width: 15%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: red;
    margin-top: 8px;
}

.btn:hover {
    background-color: aquamarine;
}

/* <!-- shedule section  --> */
.shedule {
    width: 1320px;
    height: 300px;
    background-color: rgb(240, 238, 236);
    border-radius: 10px;
    display: flex;

    justify-content: center;
    flex-direction: column;
}

.shedule-info {
    text-align: center;
    line-height: 3em;
    text-transform: capitalize;

}

.shedule-info span {
    color: red;
}

/* <!-- grid section  --> */
.grid-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    gap: 3em;
}

.grid-section span {
    color: red;
}

.grid-section-1st h1 {
    margin-top: 8px;
    font-size: 28px;
    margin-bottom: 5px;
}

.grid-section-img {
    width: 400px;
    border: 14px solid red;
    border-radius: 50%;
    padding: 2em;
}

.grid-section-img img {
    width: 300px;
}

.grid-section-3rd h2,
p {
    margin-bottom: 1rem;
}

/* holiday section  */
.holiday-1st-info {

    text-align: center;
    line-height: 1.3em;
    text-transform: capitalize;
}

.holiday-1st-info .h1 {
    font-size: 45px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.holiday-1st-info .h1 span {
    color: red;
}

.holiday-main {
    position: relative;
    height: 600px;
}

.rectangle-2 {
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.group-75 {
    position: absolute;
    bottom: 0;
    z-index: 140;

}

.group-75 img {
    width: 80%;
}

.rectangle-1 {
    position: absolute;
    right: 0;
    bottom: 25.5%;
    z-index: 0;
    text-align: center;

}

.rectangle-1 img {
    width: 91%;
    height: 50%;
}



.rectangle-1-info {
    position: absolute;
    top: 15%;
    left: -17%;
    padding: 15px;
    border-radius: 50%;
    border: 18px solid red;
    background-color: red;
    text-transform: capitalize;
    color: white;
    box-shadow: 0px 0px 40px gray;
}